 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1222px;
}

.u-section-1 .u-text-1 {
  font-weight: normal;
  margin: 65px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 800px;
  margin: 30px auto 0;
}

.u-section-1 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 435px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-2 {
  margin: 26px 30px 0;
}

.u-section-1 .u-table-1 {
  width: 532px;
  margin: 10px auto 0 68px;
}

.u-block-8218-41 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-1 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  font-weight: 700;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 32px 30px 0 auto;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-accordion-2 {
  width: 800px;
  margin: 14px auto 0;
}

.u-section-1 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 435px;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  margin: 26px 30px 0;
}

.u-section-1 .u-table-2 {
  width: 532px;
  margin: 10px auto 0 68px;
}

.u-block-8218-85 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-14 {
  font-weight: 700;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 32px 30px 0 auto;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-accordion-3 {
  width: 800px;
  margin: 14px auto 0;
}

.u-section-1 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  text-transform: none;
  padding: 20px;
}

.u-section-1 .u-icon-5 {
  height: 20px;
  width: 20px;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 435px;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  margin: 26px 30px 0;
}

.u-section-1 .u-table-3 {
  width: 532px;
  margin: 10px auto 0 68px;
}

.u-block-8218-117 {
  font-weight: 700;
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-26 {
  font-weight: 700;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 32px 30px 0 auto;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-accordion-1 {
    width: 720px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-2 {
    width: 720px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-accordion-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-accordion-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-table-1 {
    margin-left: 8px;
  }

  .u-section-1 .u-accordion-2 {
    width: 540px;
  }

  .u-section-1 .u-table-2 {
    margin-left: 8px;
  }

  .u-section-1 .u-accordion-3 {
    width: 540px;
  }

  .u-section-1 .u-table-3 {
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-accordion-1 {
    width: 340px;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-2 {
    width: 340px;
  }

  .u-section-1 .u-table-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-accordion-3 {
    width: 340px;
  }

  .u-section-1 .u-table-3 {
    width: 340px;
    margin-left: 0;
  }
}